<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>先手围棋智能教育服务平台</title>
		
		<link rel="stylesheet" type="text/css" href="css/lib/public.css">
		<link rel="stylesheet" type="text/css" href="css/custom/webStyle.css"/>
		<link rel="stylesheet" type="text/css" href="css/custom/play.css">
		<link rel="stylesheet" type="text/css" href="libs/swiper/css/idangerous.swiper.css"/>
		<script src="js/gobang/common.js" type="text/javascript" charset="utf-8" name="公共配置信息"></script>
		<script type="text/javascript" src="libs/jquery/jquery.js"></script>
		<script type="text/javascript" src="libs/vuejs/vue.js"></script>
		<script type="text/javascript" src="libs/layer/layer-v3.1.1/layer/layer.js"></script>
		<script src="libs/swiper/js/idangerous.swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/lib/rem.js"></script>
		<script src="libs/iscroll/iscroll.js" type="text/javascript" charset="utf-8"></script>
		<!-- 棋盘 -->
		<link rel="stylesheet" type="text/css" href="chess/css/chess.css"/>
		<link rel="stylesheet" type="text/css" href="chess/skin/skin1/skin1.css"/>
		<script src="chess/js/eve.js" type="text/javascript" charset="utf-8"></script>
		<script src="chess/js/XSGO.js" type="text/javascript" charset="utf-8"></script>
		<script src="chess/js/bundle.js" type="text/javascript" charset="utf-8"></script>
		<script src="chess/js/GSocket.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/pinchzoom/pinchzoom.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css"></style>

	<body style="display: none;">
		<div id='questionStore' class="ha100 oh">
			<div class="rel boardBg" id='canvasBox'>
				<div class="chessBox wa100 h750 oh">
					<div id="gameCanvas" onselectstart="return false"></div>
					<div class="wa100 ha100 abs tp0 lt0 z101" v-if="questionInfo.questionKind==4 || questionInfo.questionKind==2"></div>

				</div>
			</div>

			<div v-if="chessManualList.list[0]" class="">
				<div class="wa100  bgffe880 br32 mt15 p9">
					<div class="wa100 h58 c703b0c fs28 df ai-c jc-c rel" >
						<span v-text="title"></span>
						<button v-show="title" type="button" @click="readAloudPlay()" class="btn-n w50 h50 qs_laba abs rt20 tp0"></button>
					</div>
					<div class="wa100 h125 bgf br40">
						<div v-if="game && game.config.sgfstate==4" class="wa100 ha100 df ai-c jc-sa">
							<button @click="aswRorW(1)" class="w100 h100 btn-n cp mr20 bg_btn_good"></button>
							<button @click="aswRorW(0)" class="w100 h100 btn-n cp mr20 bg_btn_bad"></button>
						</div>
						<div v-if="game && game.config.sgfstate==2" class="wa100 ha100 df ai-c jc-sa">
							<button @click="aswRorW(1)" class="w100 h100 btn-n cp mr20 qs_dui"></button>
							<button @click="aswRorW(0)" class="w100 h100 btn-n cp mr20 qs_cuo"></button>
						</div>
						<div v-show="qrlzState && game.config.sgfstate!==4 && game.config.sgfstate!==2"  class="df ai-c jc-sa pt30 pl20 pr20">
							<button type="button" class="w72 h72 btn-n btn_w" @click="game.steering('w')"></button>
							<button type="button" class="w72 h72 btn-n btn_s" @click="game.steering('s')"></button>
							<button type="button" class="h72 w150 btn-n bt_btn ccf5003 fs30" @click="game.steering('e')">确认落子</button>
							<button type="button" class="w72 h72 btn-n btn_a" @click="game.steering('a')"></button>
							<button type="button" class="w72 h72 btn-n btn_d" @click="game.steering('d')"></button>
						</div>
					</div>
				</div>
				
				
				<div class="df ai-c jc-sa pt20">
					<button type="button" class="btn-n bt_btn w150 h72 ccf5003 fs30" @click="nextORprev(1)">上一题</button>
					<button type="button" class="btn-n bt_btn w150 h72 ccf5003 fs30" @click="nextORprev(2)">下一题</button>
					<button type="button" :class="['btn-n w150 h72 fs30',state?'bt_btn ccf5003':'btn_hui c404040']" @click="loadQuestion(questionId)">重做该题</button>
					<button type="button" class="btn-n bt_btn w150 h72 ccf5003 fs30" @click="selectQuestion()">选择题目</button>
				</div>
				
				<div class="btmBox wa100 df ai-c jc-c fw-w" v-show='!qrlzState'>
					<div class="wa100 h70 df ai-c jc-sa">
						<div class="w130 h60"></div>
						<div class="w130 h60">
							<button class="btn-n wa100 ha100 bg_qs_01 cc06804" @click='submitWord'>提交</button>
						</div>
						<div class="w130 h60"></div>
					</div>
				</div>
			</div>
			
			<div v-else class="df ai-c jc-c fw-w wa100 pt20">
				<img src="img/zanwushuju.png" alt="" class="w147 h155">
				<p class="wa100 tc pt10">当前没有作业!</p>
			</div>
			
			<div id= 'kecheng' class="wa100 ha100 bg_qs_02 pt14 pl30 pr30 dn">
				<p class="c763f05 fs36 h90 df ai-c jc-c">
					请选择习题
				</p>
				<div class="wa100 h750 bgf br32 mt15 pt25">
					<div class="w514 m0a oh">
						<!-- 选择题 -->
						<div id="wrapper" :class="['w522 h688',{'df ai-c jc-c':!questionData.pages}]">
							<div v-if="questionList &&　questionList.length" class="scroller">
								<ul id="oul" class="df fw-w">
									<li v-for="(x,index) in questionList" @click="getList(index+1);" class="w166 h166 mr8 mb8 rel">
										<div class="wa100 ha100 df ai-c jc-c cf fwb abs tp0 lt0 opc7 fs60 opc7" v-text="index+1">110</div>
										<img class="wa100 ha100" :src="x.snapshot" >
									</li>
								</ul>
								<div class="more wa100 df ai-c jc-c fs20">
									<i class="pull_icon"></i>
									<span>上拉加载...</span>
								</div>
							</div>
							<div v-else class="df ai-c jc-c fw-w w147">
								<img src="img/zanwushuju.png" alt="" class="w147 h155">
								<p class="pt10">暂无数据</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<audio src="music/ChipMany.wav" type="hidden" id="ChipMany"></audio>
			<audio src="music/STONE0.wav" type="hidden" id="stepmusic"></audio>
			<audio src="music/aswError.mp3" type="hidden" id="aswError"></audio>
			<audio src="music/aswRight.mp3" type="hidden" id="aswRight"></audio>
		</div>

		<script type="text/javascript">
			
					$('body').show();
				
					$('#gameCanvas').css('width', $('body').width()).css('height', $('body').width());
                    var sgfState = 0;
					var mySwiper
					var vm = new Vue({
						el: '#questionStore',
						data: {
							chessManualList: {
								list: []
							}, //棋谱列表
							questionIds:'', //
							qrlzState: 0,
							game:'',//棋盘
							results:'',
							wordInfo:{},
							description:'',
							
							title:'',
							questionId:'',
							questionInfo:'',
							myscroll:"",//下拉刷新对象
							questionList:[], //下拉列表 每次下拉请求数据都添加进去
							questionData:'', //下拉列表数据带分页
							state:''
						},
						methods: {
							//棋谱列表
							getList:function(pageNum,callback){
								$this = this;
								
								if(jsonlink().jobid){ //如果有jobid 说明是从历史作业进来的
									$.ajax({
										type:'post',
										url:http+'/gobangteach/SchoolController/historyDetail',
										data:{
											pageSize:1,
											pageNum:pageNum||1,
											jobId:jsonlink().jobid,
											uid: uid,
											token: token
										},
										success:function(data){
											console.log('1',data)
											
											vm.chessManualList=data.data;
											if(data.data.list[0]&&data.data.list[0].length!=0){
												callback&&callback(data.data.pageNum)
												vm.loadQuestion(data.data.list[0].id)
											}else{
												//如果没有错题 加载电子棋盘
												$this.game.config.road = 19; //路数为19路
												$this.game.config.type =1;	//棋盘类型 1为电子棋盘
												$this.game.init();	// 重新初始化
												document.location.href = "myschema://go?a=14"
											}

										},
										error:function(){
											document.location.href = "myschema://go?a=14"
										}
									})
								}else{
									$.ajax({
										type:'post',
										url:http+'/gobangteach/SchoolController/currentTask',
										data:{
											pageSize:1,
											pageNum:pageNum||1,
											history:1,
											uid: uid,
											token: token
										},
										beforeSend:function(){
											//vm.chessManualList=''
										},
										success:function(data){
											console.log('1',data)
											
											vm.chessManualList=data.data;
											//vm.$set(vm.chessManualList,data.data)
											if(data.data.list[0]&&data.data.list[0].length!=0){
												callback&&callback(data.data.pageNum)
												vm.loadQuestion(data.data.list[0].id)
											}else{
												//如果没有错题 加载电子棋盘
												$this.game.config.road = 19; //路数为19路
												$this.game.config.type =1;	//棋盘类型 1为电子棋盘
												$this.game.init();	// 重新初始化
												document.location.href = "myschema://go?a=14"
												closeLoding()
											}
										},
										error:function(){
											document.location.href = "myschema://go?a=14"
										}
									})
								}
							},
							
							//棋谱列表
							getListCopy:function(pageNum,callback){
								$this = this;
								
								if(jsonlink().jobid){ //如果有jobid 说明是从历史作业进来的
									$.ajax({
										type:'post',
										url:http+'/gobangteach/SchoolController/historyDetail',
										data:{
											pageSize:12,
											pageNum:pageNum||1,
											jobId:jsonlink().jobid,
											uid: uid,
											token: token
										},
										success:function(d){
											console.log('1',data)
											if(d.error.returnCode==0){
												$this.questionData = d.data;
												
												if(d.data.list.length && pageNum!=1){
													callback&&callback(data.data.pageNum)
													$this.questionList = $this.questionList.concat(d.data.list);
												}else{
													$this.questionList = d.data.list
												}
												$this.$nextTick(function(){
													$this.myscroll.refresh();
												})
											}
										
										}
									})
								}else{
									$.ajax({
										type:'post',
										url:http+'/gobangteach/SchoolController/currentTask',
										data:{
											pageSize:12,
											pageNum:pageNum||1,
											history:1,
											uid: uid,
											token: token
										},
										beforeSend:function(){
											//vm.chessManualList=''
										},
										success:function(d){
											if(d.error.returnCode==0){
												$this.questionData = d.data;
												
												if(d.data.list.length && pageNum!=1){
													callback&&callback(data.data.pageNum)
													$this.questionList = $this.questionList.concat(d.data.list);
												}else{
													$this.questionList = d.data.list
												}
												$this.$nextTick(function(){
													$this.myscroll.refresh();
												})
											}
										}
									})
								}
							},
							
							
							//根据棋谱id 加载棋盘
							loadQuestion: function(questionId) {
								$.ajax({
									type: "POST",
									url: http + "/gobangteach/classroom/loadQuestion",
									data: "questionid=" + questionId + "&token=" + token + "&uid=" + uid,
									dataType: 'json',
									success: function(data) {
										layer.closeAll()
										console.log("棋盘信息", data);
										$this.questionInfo = data.data.questionbank;
										$this.state = 0
										window.currentGameId = data.data.chessid;
										window.quesionID = questionId;
										
										$this.questionId = questionId
										$this.title = data.data.questionbank.titlerequs===null||
										data.data.questionbank.titlerequs===''?
												data.data.questionbank.description.split('_')[0]:
												data.data.questionbank.titlerequs
										
									   sgfState = data.data.questionbank.sgfstate
									   
									   var gameInfo = JSON.parse(data.data.questionbank.chessdata);
										//设置棋盘路数
										$this.game.road = gameInfo.roadX
										
										//更新类型
										$this.game.config.sgfstate = data.data.questionbank.questionKind
										
										//更新棋谱
										$this.game.svg = gameInfo.listAction; 

										//登入棋局
										eve.f('enterGame',data.data.chessid,uid)();
										//落子回调
										$this.game.playCall = function(d){
											console.log('落子位置',d)
											//落子
											eve.f('handlerAction',data.data.chessid,d)(); 
										}
										document.location.href = "myschema://go?a=14"
									},
									error: function(XMLHttpRequest, data) {
										alert("获取房间信息失败");
									}
								});
							},
							submitWord: function (){
								$this=this
								if(this.chessManualList.list[0].rightWrong>0){ //该作业是否提交过
									layerTC('提交过的作业不允许重复提交哦~')
								}else{
									//如果一道题都没做不允许提交
									if(JSON.stringify(this.wordInfo) != "{}"){
										var questionIds='',results='';
										$.each(this.wordInfo,function(key,val){
											questionIds += key+','
											results += val+','
										})
										$.ajax({
											url: http+'/gobangteach/SchoolController/submitJob',
											type: "POST",
											dataType: "json",
											data: {
												jobId:vm.chessManualList.list[0].jobId,
												questionIds:questionIds.slice(0,questionIds.length-1),
												results:results.slice(0,results.length-1),
												uid: uid,
												token: token
											},
											success: function(data) {
												console.log("ClearChessboard", data);
												layerTC('作业提交成功！',function(){
													//window.history.go(-1)
													//$this.getList()
													document.location.href = "myschema://go?a=1"
												})
											},
											error: function(XMLHttpRequest, data) {
												console.log("更新该题失败");
											}
										}); 
									}else{
										layerTC('至少做一道吧~')
									}
								}
							},
							//好坏题
							aswRorW:function(flag){
								if(flag==this.questionInfo.opencond){
									eve.f('notifyGameOver',13)()
								}else{
									eve.f('notifyGameOver',12)()
								}
							},
							//上一题下一题
							nextORprev:function(flag){
								if(flag===1){
									if(this.chessManualList.prePage==0){
										layerTC('没有更多了！')
									}else{
										this.getList(this.chessManualList.prePage,function(pageNum){
											document.location.href = "myschema://go?a=17&pageNum="+pageNum
										})
									}
								}else if(flag===2){
									if(this.chessManualList.nextPage==0){
										layerTC('没有更多了！')
									}else{
										this.getList(this.chessManualList.nextPage,function(pageNum){
											document.location.href = "myschema://go?a=17&pageNum="+pageNum
										})
									}
								}
							},
							selectQuestion:function () {
								this.getListCopy();
								this.questionList = []
								layerOpen({
									content:'#kecheng',//节点
									area:['6.07rem','9.5rem'],//可选默认 2rem 2rem  宽度 高度(带单位)
									cancel:function(){} //可选  右上角关闭回调
								}) 
							},
							//语音合成
							readAloudPlay:function(){
								document.location.href = "myschema://go?a=15&title="+this.title
							}
						},
						watch:{
							chessManualList:function(){
								console.log('监听列表')
								if(JSON.stringify(this.wordInfo) != "{}"){
									$.each(this.wordInfo,function(key,val){
										console.log(key,val)
										//console.log($('.imgBox[data-id='+key+']').html())
										
										vm.$nextTick(function(){
											$('.imgBox[data-id='+key+']').addClass(val==1?'right':'wrong')
										})
										
										
									})
								}
							
							}
							},
						mounted: function() {

							var $this = this;
							//棋盘缩放功能
							new RTP.PinchZoom($(".chessBox"), {
								animationDuration:200,
								maxZoom:3
							});
							
							$this.myscroll = new iScroll("wrapper",{
								onScrollMove:function(){
									if (this.y<(this.maxScrollY)) {
										$('.pull_icon').addClass('flip');
										$('.pull_icon').removeClass('loading');
										$('.more span').text('释放加载...');
									}else{
										$('.pull_icon').removeClass('flip loading');
										$('.more span').text('上拉加载...')
									}
								},
								onScrollEnd:function(){
									if ($('.pull_icon').hasClass('flip')) {
										$('.pull_icon').addClass('loading');
										$('.more span').text('加载中...');
										if($this.questionData.pageNum==$this.questionData.pages){
											$('.more span').text('加载完毕！');
										}else{
											$this.getListCopy($this.questionData.nextPage)
										}
									}
								},
								onRefresh:function(){
									$('.more').removeClass('flip');
									$('.more span').text('上拉加载...');
								}
							});
							
							
							//初始化棋盘
							this.game = new xsgo('gameCanvas',{
								//isShowCoord:1,//显示坐标
								queue:[],
								type:2,//2类型为做题
								bgColor:'#ffd687',
								affirmMovelater:1//开启确认落子
							})
							
							//确认落子回调
							$this.game.qrlzState = function(val){
								$this.qrlzState = val
							}

							//链接成功回调
							eve.on('socketOpen',function(){
								console.log('链接成功')
								//页面初始化完成 请求棋谱列表
								$this.getList();
							})
							
							//棋局登入成功回调
							eve.on('signInResponse',function(){
								console.log('登入成功');
							})
							
							//落子结果
							eve.on("handlerActionResult", function(data) {
								console.log('落子结果:',data)
								$this.game.addQueue(data) //添加子到棋盘
								var str = data.join('').indexOf('AE');
								if(str>0){ //是否有提子
									$('#ChipMany')[0].play()//提子
								}else{
									$('#stepmusic ')[0].play()//落子
								}
							});

							/**
							 *  游戏结束
							 */
							eve.on("notifyGameOver", function(status, blackSum, whiteSum) {
								$this.state = 1
								if(status === 12) {
									msgYN('msg-no', function() {})
									addRightWrong('2');
									updateErrorQuestionsStates(1);
									vm.$set(vm.wordInfo,window.quesionID,2)
									$('#aswError')[0].play() //答错
								} else if(status === 13) {
									msgYN('msg-yes', function() {})
									addRightWrong('1')
                                    vm.$set(vm.wordInfo,window.quesionID,1)
									$('#aswRight')[0].play() //答对
								} else {
									layerTC('游戏结束' + status)
								}

								//添加错题本
								function updateErrorQuestionsStates(states) {
									var param = {
										states: states,
										quesionID: window.quesionID,
										uid: uid,
										token: token
									}
									console.log('param:', param)
									$.ajax({
										url: http + '/gobangteach/classroom/updateErrorQuestionsStates',
										type: "POST",
										dataType: "json",
										data: $.param(param),
										success: function(data) {
											console.log("ClearChessboard", data);
										},
										error: function(XMLHttpRequest, data) {
											alert("更新该题失败");
										}
									});
								}
								//做题记录
								function addRightWrong(sign) {
									var param = {
										chessId: window.quesionID,
										rightWrong: sign, //答题的对错情况   1 代表对 2 代表错
										source: 3, //题来源    1 题库 2.错题本3作业4课件
										uid: uid,
										token: token
									}
									console.log(param)
									$.ajax({
										url: http + '/gobangteach/QuestionbankController/addRightWrong',
										type: "POST",
										dataType: "json",
										data: $.param(param),
										success: function(data) {
											console.log("ClearChessboard", data);
										},
										error: function(XMLHttpRequest, data) {
											console.log("更新该题失败");
										}
									});
								}
							});

						}
					})
		</script>
	</body>

</html>
