 * {-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;}
.xswq .coordX{
	position: absolute;
    display: flex;
    width: 95%;
    height: 5%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-around;
    align-items: flex-start;
}
.xswq .coordY{
	position: absolute;
    display: flex;
    width: 3%;
    height: 95%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    flex-wrap: wrap;
}
.xswq .coordY .scaleNum{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/* 做错题显示错误的图标 */
.xswq .playError{
	width: 70%;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    background: #fff url(../img/chess/error.svg) no-repeat center/100%;
    overflow: hidden;
	
}


.xswq .lineBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clear: both;
}
.xswq .lineBox .lineY{
	height: 100%;
	float: left;
}
.xswq .lineBox .lineX{
	width: 100%;
}

/* 手指指引 */

.fingerBox{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
}

/* 光圈 */
.ripple{
	width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 100%;
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	animation: ripple 1s  ease-in infinite
}


.ripple2{
	width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 100%;
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	animation: ripple 1s 0.3s ease-in infinite
}
.ripple3{
	width: 30%;
	height: 30%;
	border-radius: 100%;
	margin: auto;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
}
@keyframes ripple {
	0%,100%{
		opcity:0;
		transform: scale(0.3);
		background: rgba(106,227,255,0)
	}
	25%,50%{
		opcity:1;
		transform: scale(1);
		background: rgba(106,227,255,0.5)
	}
	
}

/* 小拇指 */
.finger{
	width: 100%;
	position: absolute;
	animation: finger 0.7s 0.5s infinite
}
@keyframes finger{
	0%,100%{
    	top: 30%;
    	left: 30%;
	}
	25%,50%{
		top: 80%;
    	left: 80%;
	}
}



.xswq .pieces,.xswq .label{
	position: absolute;
	width: 100%;
	height: 100%;
}
.xswq .pieces{
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.xswq .showLot{
	/* display: none; */
}

.xswq .black .showLot{
	color: #FFF;
	font-size: 12px;
}

.xswq .white .showLot{
	color: #000;
	font-size: 12px;
}

.xswq .label{
	z-index: 2;
}

/* 圆 */
.xswq .label .circle{
	width: 40%;
    height: 40%;
	box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
	border-width: 5px;
	border-color: #000;
}
/* 方块 */
.xswq .label .square{
	width: 40%;
    height: 40%;
	box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: red;
}

/* 三角 */
.xswq .label .xs_triangle{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* LB */
.xswq .label .LB{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	border-radius: 100%;
}
.xswq .chessroad .AC{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

/* 刻度字母 */
/* .xswq .scaleStr{
	text-align: center;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -20%;
} */
/* 刻度数字 */
/* .xswq .scaleNum{
	height: 100%;
    position: absolute;
    left: -20%;
    top: 0;
    display: flex;
    align-items: center;
} */