<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xswq.chess.myapplication">

    <application
        android:name="com.xswq.chess.myapplication.application.XSWQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为(hua wei)刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米(xiao mi)刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.start.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.SwitchMainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.main.SchoolManagementActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.main.CreateSchoolActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.main.QualificationsDataActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.start.RegisterUserActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.start.FindPasswordActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.base.BaseCompatActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.EditUserInforActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.HistoryMatchActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.EditHeaderActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.SetupActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.HelpcenterActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.AboutusActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.PlayingChessActivity"
            android:theme="@style/AnimationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.courseware.CoursewareListActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.start.LoginActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.androidtojs.JsWebViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.start.PerfectInformationAcivity"
            android:theme="@style/AnimationActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.courseware.VideoPlaybackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.courseware.PracticeDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.courseware.ExplanationActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.questionstore.QuestionStoreActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.OnlineGameActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.AIOnlineGameActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.friendlist.FriendsListActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.MessagerListActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.LookPrepareLessonsActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.PrepareLessonsActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.ToPrepareLessonsActivity"
            android:theme="@style/AnimationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.friendlist.AddFriendsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.TeachingSystemActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.PrepareLessonsViewImageActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.TeacherUserHelpActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.CreatAIOnlineGameActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.mywork.HistoryTaskActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.IntegralShoppingMallActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.IntegralShoppingForRecordActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.weiqistory.WeiqiStoryListActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.weiqistory.WeiqiStoryActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.IntegralShoppingMallGuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.IncompleteChessGameActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.xswq.chess.myapplication.activity.achievement.ContentOfAchievementActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.weiqistory.WeiqiStoryNameListActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.achievement.AchievementSystemActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.ShareTheMoneyActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.personalCenter.PersonalCenterPayActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.CourseSyllabusActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.main.SetCourseHintActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.principal.CompetitionManagementActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.CreateCompetitionActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.CompetitionContentActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.CompetitionSetTheCategoryActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.CreateNewGroupActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.NewGroupCompetitionRulesActivity"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.NewGroupStartTimeActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.PlayByPlayActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.student.StudentCompetitionManagementActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.ParticularsActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.CompetitionApplyManagementActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.teacher.TeacherCompetitionManagementActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.ResultOfTheMatchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.GradeTableActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.competition.AgainstTheTableActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.start.ChangePassWordActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.SetUpRulesActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.GetRulesActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.navigationentrance.friendlist.AddFriendsScoketActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.ProgressBarActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.RefuseActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.TenMinutesActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.StudentsSubmitDecisionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.ResultTheMatchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.MatchCountdownActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.EntryNoticeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.activity.onlinegame.inform.MatchByeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xswq.chess.myapplication.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.main.SettingsActivity"
            android:theme="@style/AnimationActivity" />

        <activity
            android:name=".base.BaseActivity"
            android:theme="@style/AnimationActivity" />

        <!-- Android 7.0 照片、APK下载保存路径-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xswq.chess.myapplication.packgeName.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.xswq.chess.myapplication.phoneiscall.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="com.xswq.chess.myapplication.permission.RECEIVE_MSG" />

</manifest>